:host {
  position: absolute;
  top: -420px;
  width: 160%;
  height: 660px;
  background-color: #ffffffbc;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  left: -30%;
  border-radius: 100%;
  z-index: 1;
  pointer-events: none;
}
$xang-size-x: 640px; // 32
$xang-size-y: 360px; // 18
app-title {
  position: absolute;
  top: 540px;
  height: 160px;
}
.xanguito {
  position: absolute;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.39));
  bottom: -120px;
  width: calc(#{$xang-size-x});
  height: calc(#{$xang-size-y});
  background-image: url("/assets/titles/LETTERS.png");
}
