<div class="main-title xanguito"></div>
<div class="main-title aventura"></div>
<div class="main-title player"
     [ngClass]="imgSource"></div>
<div class="load">
  <div class="player_1"></div>
  <div class="player_2"></div>
  <div class="player_3"></div>
  <div class="player_4"></div>
  <div class="player_5"></div>
  <div class="player_6"></div>
  <div class="lang_es"></div>
  <div class="lang_en"></div>
  <div class="lang_ca"></div>
</div>
<div class="lang-selector">
  <app-lang></app-lang>
</div>
