/* You can add global styles to this file, and also import other style files */

html {
  overflow: hidden;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url("assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
}
body {
  min-width: 1164px;
  min-width: 1024px;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  user-select: none;
  * {
    box-sizing: border-box;
  }
}
